<div class="brand-logo">
	<div class="pt-content">
		<div class="swiper-viewport">
		  <div id="carousel{{ module }}" class="swiper-container">
			<div class="swiper-wrapper">{% for banner in banners %}
			  <div class="swiper-slide text-center">
				  {% if banner.link %}
				  <a href="{{ banner.link }}">
					  {% if lazy_load %}
						  <img src="data:image/svg+xml,%20%3Csvg%20viewBox%3D%220%200%20224%20156%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive lazyload" />
					  {% else %}
						  <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
					  {% endif %}
				  </a>
				  {% else %}
					  {% if lazy_load %}
						  <img src="data:image/svg+xml,%20%3Csvg%20viewBox%3D%220%200%20224%20156%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive lazyload" />
					  {% else %}
						  <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
					  {% endif %}
				  {% endif %}
			  </div>
			  {% endfor %}</div>
		  </div>
		  <div class="swiper-pager">
			<div class="swiper-button-next brand-logo-next"></div>
			<div class="swiper-button-prev brand-logo-prev"></div>
		  </div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 4,
	pagination: false,
	paginationClickable: true,
	nextButton: '.brand-logo-next',
    prevButton: '.brand-logo-prev',
	watchSlidesVisibility: true,
	autoplay: false,
	loop: true,
	breakpoints: {
		479: {
		  slidesPerView: 2
		},
		767: {
		  slidesPerView: 3
		},
		991: {
		  slidesPerView: 3
		  
		},
		1199: {
		  slidesPerView: 3
		  
		}
	}
});
//--></script>